<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Squash - @ViewBag.Title</title>

    <meta name="description" content="Squash, an bug tracker made by a developer, for a developer.">
    <meta name="author" content="Damien Ostler">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" id="css-main" href="~/Content/oneui.css">
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <script src="~/Scripts/core/jquery.min.js"></script>
    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="~/Content/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>
<body>
    <!-- Page Container -->
    <!--
        Available Classes:

        'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

        'sidebar-l'                  Left Sidebar and right Side Overlay
        'sidebar-r'                  Right Sidebar and left Side Overlay
        'sidebar-mini'               Mini hoverable Sidebar (> 991px)
        'sidebar-o'                  Visible Sidebar by default (> 991px)
        'sidebar-o-xs'               Visible Sidebar by default (< 992px)

        'side-overlay-hover'         Hoverable Side Overlay (> 991px)
        'side-overlay-o'             Visible Side Overlay by default (> 991px)

        'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

        'header-navbar-fixed'        Enables fixed header
    -->
    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
        <!-- Side Overlay-->
        <aside id="side-overlay">
            <!-- Side Overlay Scroll Container -->
            <div id="side-overlay-scroll">
                <!-- Side Header -->
                <div class="side-header side-content">
                    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                    <button class="btn btn-default pull-right" type="button" data-toggle="layout" data-action="side_overlay_close">
                        <i class="fa fa-times"></i>
                    </button>
                    <span>
                        <img class="img-avatar img-avatar32" src="@string.Format("https://ui-avatars.com/api/?name={0}+{1}",User.Identity.GetUserFirstName(),User.Identity.GetUserLastName())" alt="">
                        <span class="font-w600 push-10-l">@User.Identity.GetUserFirstName() @User.Identity.GetUserLastName()    </span>
                    </span>
                </div>
                <!-- END Side Header -->
                <!-- Side Content -->
                <div class="side-content remove-padding-t">
                    <!-- Side Overlay Tabs -->
                    <div class="block pull-r-l border-t">
                        <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs">
                            <li class="active">
                                <a href="#tickets-notifications"><i class="fa fa-files-o push-5-r"></i>Tickets</a>
                            </li>
                            <li>
                                <a href="#projects-notifications"><i class="fa fa-folder push-5-r"></i>Projects</a>
                            </li>
                        </ul>
                        <script>
                            function removeElement(elementId) {
    // Removes an element from the document
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
}
                        </script>
                        <div class="block-content tab-content">
                            <div class="tab-pane fade fade-right in active" id="tickets-notifications">
                                @foreach (var ticketNotification in User.Identity.GetNotifications().Where(x => x.Ticket != null))
                                {
                                    <div class="block block-rounded block-themed" style="cursor:pointer" id="notification-@ticketNotification.Id">
                                        <div class="block-header bg-amethyst border-black-op">
                                            <ul class="block-options">
                                                <li>
                                                    <a>Clear</a>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">@ticketNotification.Title</h3>
                                        </div>
                                        <div class="block-content border-black-op">
                                            <p>@ticketNotification.Body</p>
                                        </div>
                                    </div>
                                    <script>
                                        document.getElementById("notification-@ticketNotification.Id").addEventListener("click", function () {
                                            removeElement("notification-@ticketNotification.Id")
                                            $.ajax({
                                                url:"@Url.Action("RemoveNotification","Account",new { notificationId=ticketNotification.Id})",
                                                success: function () {
                                                }
                                            })
                                        })
                                    </script>
                                }
                            </div>
                            <div class="tab-pane fade fade-left" id="projects-notifications">

                                @foreach (var projectNotification in User.Identity.GetNotifications().Where(x => x.Project != null))
                                {
                                    <div class="block block-rounded block-themed" id="notification-@projectNotification.Id" style="cursor:pointer">
                                        <div class="block-header bg-city border-black-op">
                                            <ul class="block-options">
                                                <li>
                                                    <a>Clear</a>
                                                </li>
                                            </ul>
                                            <h3 class="block-title">@projectNotification.Title</h3>
                                        </div>
                                        <div class="block-content border-black-op">
                                            <p>@projectNotification.Body</p>
                                        </div>
                                    </div>
                                    <script>
                                        document.getElementById("notification-@projectNotification.Id").addEventListener("click", function () {
                                            removeElement("notification-@projectNotification.Id")
                                            $.ajax({
                                                url:"@Url.Action("RemoveNotification","Account",new { notificationId=projectNotification.Id})",
                                                success: function () {
                                                }
                                            })
                                        })
                                    </script>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- END Side Overlay -->
        <!-- Sidebar -->
        <nav id="sidebar">
            <!-- Sidebar Scroll Container -->
            <div id="sidebar-scroll">
                <!-- Sidebar Content -->
                <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
                <div class="sidebar-content">
                    <!-- Side Header -->
                    <div class="side-header side-content bg-white-op">
                        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                        <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                            <i class="fa fa-times"></i>
                        </button>
                        <a class="h5 text-white" href="@Url.Action("Index","Home")">
                            <img src="~/Images/logo.png" style="width:100%" />
                        </a>
                    </div>
                    <!-- END Side Header -->
                    <!-- Side Content -->
                    <div class="side-content side-content-full">
                        <ul class="nav-main">
                            <li class="nav-main-heading"><span class="sidebar-mini-hide">General</span></li>
                            <li>
                                <a href="@Url.Action("Index","Home")"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                                <a href="@Url.Action("ViewAllTickets","Home")"><i class="si si-note"></i><span class="sidebar-mini-hide">View All Tickets</span></a>
                                @if (User.IsInRole("Submitter"))
                                {
                                    <a href="@Url.Action("Create","Tickets")"><i class="si si-plus"></i><span class="sidebar-mini-hide">Submit Ticket</span></a>
                                }
                            </li>

                            @if (User.IsInRole("Project Manager") || User.IsInRole("Administrator"))
                            {
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Project Management Tools</span></li>
                                <li>
                                    <a href="@Url.Action("Index","Projects")"><i class="si si-folder"></i><span class="sidebar-mini-hide">Project Managment</span></a>
                                </li>
                            }

                            @if (User.IsInRole("Developer"))
                            {
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Developer Tools</span></li>
                                <li>
                                    <a href="@Url.Action("ViewAssignedProjectsList","Home")"><i class="si si-folder-alt"></i><span class="sidebar-mini-hide">Assigned Projects</span></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ViewAssignedTicketsList","Home")"><i class="si si-note"></i><span class="sidebar-mini-hide">Assigned Tickets</span></a>
                                </li>
                            }


                            @if (User.IsInRole("Submitter"))
                            {
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Submitter Tools</span></li>
                                <li>
                                    <a href="@Url.Action("ViewAssignedProjectsList","Home")"><i class="si si-folder-alt"></i><span class="sidebar-mini-hide">Assigned Projects</span></a>
                                </li>
                            }

                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Administrative Tools</span></li>
                                <li>
                                    <a href="@Url.Action("Index","UserManagment")"><i class="si si-user"></i><span class="sidebar-mini-hide">User Managment</span></a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- END Side Content -->
                </div>
                <!-- Sidebar Content -->
            </div>
            <!-- END Sidebar Scroll Container -->
        </nav>
        <!-- END Sidebar -->
        <!-- Header -->
        <header id="header-navbar" class="content-mini content-mini-full">
            <!-- Header Navigation Right -->
            <ul class="nav-header pull-right">
                <li>
                    <div class="btn-group">
                        <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                            <img src="@string.Format("https://ui-avatars.com/api/?name={0}+{1}",User.Identity.GetUserFirstName(),User.Identity.GetUserLastName())" alt="Avatar">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">Profile</li>
                            <li>
                                <a tabindex="-1" href="@Url.Action("UserSettings","Account")">
                                    <i class="si si-settings pull-right"></i>Settings
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Actions</li>
                            <li>

                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <a tabindex="-1" href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="si si-logout pull-right"></i>Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                    <button class="btn btn-default" data-toggle="layout" data-action="side_overlay_toggle" type="button">
                        <i class="fa fa-tasks"></i>
                    </button>
                </li>
            </ul>
            <!-- END Header Navigation Right -->
            <!-- Header Navigation Left -->
            <ul class="nav-header pull-left">
                <li class="hidden-md hidden-lg">
                    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                    <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                        <i class="fa fa-navicon"></i>
                    </button>
                </li>
                <li class="hidden-xs hidden-sm">
                    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                    <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </li>
                <li class="visible-xs">
                    <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
                    <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </li>
                <li class="js-header-search header-search">
                    <form class="form-horizontal" action="base_pages_search.html" method="post">
                        <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
                            <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Search..">
                            <span class="input-group-addon"><i class="si si-magnifier"></i></span>
                        </div>
                    </form>
                </li>
            </ul>
            <!-- END Header Navigation Left -->
        </header>
        <!-- END Header -->
        <!-- Main Container -->
        @RenderBody()
        <!-- END Main Container -->
        <!-- Footer -->
        <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
            <div class="pull-right">
                Developed by Damien Ostler
            </div>
            <div class="pull-left">
                Squash 0.0.4 &copy; <span class="js-year-copy">2019</span>
            </div>
        </footer>
        <!-- END Footer -->
    </div>

    <script src="~/Scripts/core/bootstrap.min.js"></script>
    <script src="~/Scripts/core/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/core/jquery.scrollLock.min.js"></script>
    <script src="~/Scripts/core/jquery.appear.min.js"></script>
    <script src="~/Scripts/core/jquery.countTo.min.js"></script>
    <script src="~/Scripts/core/jquery.placeholder.min.js"></script>
    <script src="~/Scripts/core/js.cookie.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/base_tables_datatables.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/0e4ebe25a9.js" crossorigin="anonymous"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>