@using Microsoft.AspNet.Identity;
@model  IEnumerable<Squash.Models.ProjectManagementViewModel>

@{
    ViewBag.Title = "Index";
}

<main id="main-container">

    <div class="bg-image" style="background-image: url('/Images/photos/photo28@2x.jpg');">
        <div class="content content-full bg-primary-dark-op">
            <div class="row">
                <div class="col-xs-6">
                    <h1 class="page-heading text-white animated zoomIn">
                        Projects
                    </h1>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-default" href="@Url.Action("Create","Projects")">
                        <i class="fa fa-plus-circle text-success push-5-r"></i> New Project
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    @{
                        IEnumerable<Squash.Models.ProjectManagementViewModel> projects;
                        if (User.IsInRole("Administrator"))
                        {
                            projects = Model;
                        }
                        else
                        {
                            projects = Model.Where(x => x.UsersInProject.Any(z => z.Id == User.Identity.GetUserId()));
                        }
                    }
                    @foreach (var project in projects)
                    {

                        <div class="col-sm-6 col-lg-4">
                            <div class="block block-rounded block-themed">
                                @if (project.UsersInProject.Any())
                                {
                                    <div class="block-header bg-primary">
                                        <ul class="block-options">
                                            <li>
                                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo">
                                                    <i class="si si-refresh"></i>
                                                </button>
                                            </li>
                                            <li class="dropdown">
                                                <button type="button" data-toggle="dropdown"><i class="si si-settings"></i></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a tabindex="-1" href="@Url.Action("Edit","Projects",new { id=project.Id })">
                                                            <i class="si si-pencil pull-right"></i>
                                                            Edit Project
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>

                                                        <a tabindex="-1" href="javascript:document.getElementById('deleteForm-@project.Id').submit()">
                                                            <i class="si si-trash text-danger pull-right"></i>
                                                            Delete Project
                                                        </a>
                                                        @using (Html.BeginForm("Delete", "Projects", null, FormMethod.Post, new { id = "deleteForm-" + project.Id }))
                                                        {
                                                            @Html.Hidden("id", project.Id)
                                                            @Html.AntiForgeryToken();
                                                        }
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <h3 class="h4 font-w600 push-5">
                                            <a class="text-white" href="@Url.Action("Details","Projects", new { id=project.Id })">@project.Name</a>
                                        </h3>
                                        <h4 class="h5 text-white-op">@project.Description</h4>
                                    </div>
                                }
                                else
                                {
                                    <div class="block-header bg-danger">
                                        <ul class="block-options">
                                            <li>
                                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo">
                                                    <i class="si si-refresh"></i>
                                                </button>
                                            </li>
                                            <li class="dropdown">
                                                <button type="button" data-toggle="dropdown"><i class="si si-settings"></i></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a tabindex="-1" href="@Url.Action("Edit","Projects",new { id=project.Id })">
                                                            <i class="si si-pencil pull-right"></i>
                                                            Edit Project
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>

                                                        <a tabindex="-1" href="javascript:document.getElementById('deleteForm').submit()">
                                                            <i class="si si-trash text-danger pull-right"></i>
                                                            Delete Project
                                                        </a>
                                                        @using (Html.BeginForm("Delete", "Projects", new { id = project.Id }, FormMethod.Post, new { id = "deleteForm" }))
                                                        {
                                                            @Html.AntiForgeryToken();
                                                        }
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <h3 class="h4 font-w600 push-5">
                                            <a class="text-white" href="@Url.Action("Details","Projects", new { id=project.Id })">@project.Name</a>
                                        </h3>
                                        <h4 class="h5 text-white-op">@project.Description</h4>
                                    </div>
                                }
                                <div class="block-content text-center">
                                    <div class="btn-group push">
                                        <a class="btn btn-default js-tooltip" href="javascript:void(0)" title="Developers" data-toggle="modal" data-target="#viewDevelopersModal-@project.Id">
                                            @project.UsersInProject.Count
                                            <i class="fa fa-user-circle-o"></i>
                                        </a>


                                        <div class="modal fade" id="viewDevelopersModal-@project.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-top">
                                                <div class="modal-content">
                                                    <div class="block">
                                                        <div class="block-content">

                                                            <table class="table table-striped viewDevelopersTable" id="userManagmentTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:15%">Name</th>
                                                                        <th style="width:15%"class="hidden-xs">Email</th>
                                                                        <th class="hidden-xs" style="width: 12%;">Assigned Tickets</th>
                                                                        <th class="hidden-xs" style="width: 12%;">Assigned Projects</th>
                                                                        <th class="hidden-xs" style="width: 15%;">Role</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var user in project.UsersInProject)
                                                                    {

                                                                        <tr>
                                                                            <td class="font-w600">@user.FirstName @user.LastName</td>
                                                                            <td class="hidden-xs">@user.Email</td>
                                                                            <td class="hidden-xs">@user.AssignedTickets.Count</td>
                                                                            <td class="hidden-xs">@user.Projects.Count</td>
                                                                            <td class="hidden-xs">
                                                                                @switch (user.Role)
                                                                                {
                                                                                    case "Administrator":
                                                                                        <span class="label label-danger">Administrator</span>
                                                                                        break;
                                                                                    case "Project Manager":
                                                                                        <span class="label label-warning">Project Manager</span>
                                                                                        break;
                                                                                    case "Developer":
                                                                                        <span class="label label-success">Developer</span>
                                                                                        break;
                                                                                    case "Submitter":
                                                                                        <span class="label label-primary">Submitter</span>
                                                                                        break;
                                                                                    default:
                                                                                        <span class="label label-info">UNKNOWN</span>
                                                                                        break;
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close push-5-r"></i>Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a class="btn btn-default js-tooltip" data-toggle="modal" data-target="#viewTicketsModal-@project.Id" href="javascript:void(0)" title="Tickets">
                                            @project.Tickets.Count  <i class="fa fa-files-o"></i>
                                        </a>

                                        <div class="modal fade" id="viewTicketsModal-@project.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-top">
                                                <div class="modal-content">
                                                    <div class="block">
                                                        <div class="block-content">
                                                            <table class="table hoverTable hoverTable table-striped ticketViewTable" id="userManagmentTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:15%">Title</th>
                                                                        <th style="width:25%">Summary</th>
                                                                        <th class="hidden-xs" style="width: 10%;">Created Date</th>
                                                                        <th class="hidden-xs" style="width: 10%;">Updated Date</th>
                                                                        <th class="hidden-xs" style="width: 10%;">Priority</th>
                                                                        <th class="hidden-xs" style="width: 10%;">Status</th>
                                                                        <th class="hidden-xs" style="width: 10%;">Type</th>
                                                                        <th class="hidden-xs" style="width: 15%;">Assigned User</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var ticket in project.Tickets)
                                                                    {

                                                                        <tr style="cursor:pointer" onclick="window.location.href = '@Url.Action("Details","Tickets", new { id=ticket.Id })';">
                                                                            <td class="font-w600">@ticket.Title</td>
                                                                            <td>@ticket.Summary</td>
                                                                            <td class="hidden-xs">@ticket.CreatedDate</td>
                                                                            <td class="hidden-xs">@ticket.UpdatedDate</td>
                                                                            <td class="hidden-xs">
                                                                                @switch (ticket.Priority.Name)
                                                                                {
                                                                                    case "High":
                                                                                        <span class="label label-danger">High</span>
                                                                                        break;
                                                                                    case "Medium":
                                                                                        <span class="label label-warning">Medium</span>
                                                                                        break;
                                                                                    case "Low":
                                                                                        <span class="label label-info">Low</span>
                                                                                        break;
                                                                                }
                                                                            </td>
                                                                            <td class="hidden-xs">

                                                                                @switch (ticket.Status.Name)
                                                                                {
                                                                                    case "Created":
                                                                                        <span class="label label-danger">Created</span>
                                                                                        break;
                                                                                    case "Assigned":
                                                                                        <span class="label label-warning">Assigned</span>
                                                                                        break;
                                                                                    case "Resolved":
                                                                                        <span class="label label-success">Resolved</span>
                                                                                        break;
                                                                                    case "Reopened":
                                                                                        <span class="label label-danger">Reopened</span>
                                                                                        break;
                                                                                    case "Archived":
                                                                                        <span class="label label-info">Archived</span>
                                                                                        break;
                                                                                }
                                                                            </td>
                                                                            <td class="hidden-xs"><span class="label label-info">@ticket.Type.Name</span></td>

                                                                            @if (ticket.AssignedUser == null)
                                                                            {
                                                                                <td>Unassigned</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>@ticket.AssignedUser.FirstName @ticket.AssignedUser.LastName</td>
                                                                            }
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close push-5-r"></i>Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <a class="btn btn-default js-tooltip" href="javascript:void(0)" data-toggle="modal" data-target="#addToProject-@project.Id" title="Add Developer">
                                            <i class="fa fa-user-plus"></i>
                                        </a>
                                        <div class="modal fade" id="addToProject-@project.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-top">

                                                @using (Html.BeginForm("AddToProject", "Projects", new { }, FormMethod.Post, new { @class = "form-horizontal push-30-t push-30", role = "form" }))
                                                {
                                                    @Html.Hidden("projectId", project.Id)
                                                    <div class="modal-content">
                                                        <div class="block block-themed block-transparent remove-margin-b">
                                                            <div class="block-header bg-primary-dark">
                                                                <ul class="block-options">
                                                                    <li>
                                                                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                                                    </li>
                                                                </ul>
                                                                <h3 class="block-title">Add User To Project</h3>
                                                            </div>
                                                            <div class="block-content">
                                                                <div class="col-12">
                                                                    <div class="form-material floating">
                                                                        <select class="form-control" id="userId" name="userId" size="1" style="width:100%">
                                                                            <option></option><!-- Empty value for demostrating material select box -->
                                                                            @foreach (var user in project.UsersNotInProject)
                                                                            {
                                                                                var name = user.FirstName + " " + user.LastName;
                                                                                <option value="@user.Id">@name</option>
                                                                            }
                                                                        </select>
                                                                        <label for="material-select2">Please Select User To Add</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-check push-5-r"></i>Add User To Project</button>
                                                            <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close push-5-r"></i>Close</button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <a class="btn btn-default js-tooltip" data-toggle="modal" data-target="#removeFromProject-@project.Id" href="javascript:void(0)" title="Remove Developer">
                                            <i class="fa fa-user-minus"></i>
                                        </a>
                                        <div class="modal fade" id="removeFromProject-@project.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-top">

                                                @using (Html.BeginForm("RemoveFromProject", "Projects", new { }, FormMethod.Post, new { @class = "form-horizontal push-30-t push-30", role = "form" }))
                                                {
                                                    @Html.Hidden("projectId", project.Id)
                                                    <div class="modal-content">
                                                        <div class="block block-themed block-transparent remove-margin-b">
                                                            <div class="block-header bg-primary-dark">
                                                                <ul class="block-options">
                                                                    <li>
                                                                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                                                    </li>
                                                                </ul>
                                                                <h3 class="block-title">Remove User From Project</h3>
                                                            </div>
                                                            <div class="block-content">
                                                                <div class="col-12">
                                                                    <div class="form-material floating">
                                                                        <select class="form-control" id="userId" name="userId" size="1" style="width:100%">
                                                                            <option></option><!-- Empty value for demostrating material select box -->
                                                                            @foreach (var user in project.UsersInProject)
                                                                            {
                                                                                var name = user.FirstName + " " + user.LastName;
                                                                                <option value="@user.Id">@name</option>
                                                                            }
                                                                        </select>
                                                                        <label for="material-select2">Please Select User To Remove</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-check push-5-r"></i>Remove User From Project</button>
                                                            <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close push-5-r"></i>Close</button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-inline push">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    <script>

        $(document).ready(function () {
            $('.ticketViewTable').DataTable();
            $('.viewDevelopersTable').DataTable();
        });
    </script>
}


