@model IEnumerable<Squash.Models.UserManagmentViewModel>


<main id="main-container">

    <div class="bg-image" style="background-image: url('/Images/photos/photo28@2x.jpg');">
        <div class="content content-full bg-city-dark-op">
            <div class="row">
                <div class="col-xs-6">
                    <h1 class="page-heading text-white animated zoomIn">
                        User Managment
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-content">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
            <table class="table table-striped" id="userManagmentTable">
                <thead>
                    <tr>    
                        <th>Name</th>
                        <th class="hidden-xs">Email</th>
                        <th class="hidden-xs">Assigned Projects</th>
                        <th class="hidden-xs" style="width: 15%;">Role</th>
                        <th class="text-center" style="width: 10%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var viewModel in Model)
                    {

                        <tr>
                            <td class="font-w600">@viewModel.FullName</td>
                            <td class="hidden-xs">@viewModel.Email</td>
                            <td class="hidden-xs">@viewModel.ProjectsIn.Count</td>
                            <td class="hidden-xs">
                                @switch (viewModel.Role)
                                {
                                    case "Administrator":
                                        <span class="label label-danger">Administrator</span>
                                        break;
                                    case "Project Manager":
                                        <span class="label label-warning">Project Manager</span>
                                        break;
                                    case "Developer":
                                        <span class="label label-success">Developer</span>
                                        break;
                                    case "Submitter":
                                        <span class="label label-primary">Submitter</span>
                                        break;
                                    default:
                                        <span class="label label-info">UNKNOWN</span>
                                        break;
                                }
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#addToProject-@viewModel.Id"><i class="fa fa-user-plus" data-toggle="tooltip" data-title="Add To Project"></i></button>
                                    
                                    <button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#setRoleModal-@viewModel.Id"><i class="fa fa-pencil" data-toggle="tooltip" data-title="Set User Role"></i></button>

                                        <button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#removeFromProject-@viewModel.Id"><i class="fa fa-user-minus" data-toggle="tooltip" data-title="Remove From Project"></i></button>
                                    

                                    <div class="modal fade" id="addToProject-@viewModel.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-top">

                                            @using (Html.BeginForm("AddToProject", "UserManagment", new { }, FormMethod.Post, new { @class = "form-horizontal push-30-t push-30", role = "form" }))
                                            {
                                                @Html.Hidden("userId", viewModel.Id)
                                                <div class="modal-content">
                                                    <div class="block block-themed block-transparent remove-margin-b">
                                                        <div class="block-header bg-primary-dark">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">Add User To Project</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <div class="col-12">
                                                                <div class="form-material floating">
                                                                    <select class="form-control" id="projectId" name="projectId" size="1" style="width:100%">
                                                                        <option></option><!-- Empty value for demostrating material select box -->
                                                                        @foreach (var project in viewModel.ProjectsOut)
                                                                        {
                                                                            <option value="@project.Id">@project.Name</option>
                                                                        }
                                                                    </select>
                                                                    <label for="material-select2">Please Select Project To Add</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-check push-5-r"></i>Add User To Project</button>
                                                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close push-5-r"></i>Close</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="modal fade" id="setRoleModal-@viewModel.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-top">

                                            @using (Html.BeginForm("SetRole", "UserManagment", new { }, FormMethod.Post, new { @class = "form-horizontal push-30-t push-30", role = "form" }))
                                            {
                                                @Html.Hidden("userId", viewModel.Id)
                                                <div class="modal-content">
                                                    <div class="block block-themed block-transparent remove-margin-b">
                                                        <div class="block-header bg-primary-dark">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">Edit Users Role</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <div class="col-12">
                                                                <div class="form-material floating">
                                                                    <select class="form-control" id="roleName" name="roleName" size="1" style="width:100%">
                                                                        <option></option><!-- Empty value for demostrating material select box -->
                                                                        <option value="Administrator">Administrator</option>
                                                                        <option value="Project Manager">Project Manager</option>
                                                                        <option value="Developer">Developer</option>
                                                                        <option value="Submitter">Submitter</option>
                                                                    </select>
                                                                    <label for="material-select2">Please Select New Role</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-check push-5-r"></i>Save Users Role</button>
                                                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close push-5-r"></i>Close</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="modal fade" id="removeFromProject-@viewModel.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-top">

                                            @using (Html.BeginForm("RemoveFromProject", "UserManagment", new { }, FormMethod.Post, new { @class = "form-horizontal push-30-t push-30", role = "form" }))
                                            {
                                                @Html.Hidden("userId", viewModel.Id)
                                                <div class="modal-content">
                                                    <div class="block block-themed block-transparent remove-margin-b">
                                                        <div class="block-header bg-primary-dark">
                                                            <ul class="block-options">
                                                                <li>
                                                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                                                </li>
                                                            </ul>
                                                            <h3 class="block-title">Remove User From Project</h3>
                                                        </div>
                                                        <div class="block-content">
                                                            <div class="col-12">
                                                                <div class="form-material floating">
                                                                    <select class="form-control" id="projectId" name="projectId" size="1" style="width:100%">
                                                                        <option></option><!-- Empty value for demostrating material select box -->
                                                                        @foreach (var project in viewModel.ProjectsIn)
                                                                        {
                                                                            <option value="@project.Id">@project.Name</option>
                                                                        }
                                                                    </select>
                                                                    <label for="material-select2">Please Select Project To Remove</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-check push-5-r"></i>Remove User From Project</button>
                                                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close push-5-r"></i>Close</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>
@section scripts{
    <script>
        
        $(document).ready(function() {
    $('#userManagmentTa     ble').DataTable();
} );
    </script>
    }