@model Squash.Models.TicketCreationViewModel

@{      
    ViewBag.Title = "Create";
}

















<main id="main-container">

    <div class="bg-image" style="background-image: url('/Images/photos/photo28@2x.jpg');">
        <div class="content content-full bg-flat-op">
            <div class="row">
                <div class="col-xs-6">
                    <h1 class="page-heading text-white animated zoomIn">
                        New Ticket
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content content-boxed">
            <!-- Create Project -->
            <h2 class="content-heading text-center">Create a new ticket in the system!</h2>
            <div class="block">
                <div class="block-content">
                    @using (Html.BeginForm("Create", "Tickets", new { }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal push-30-t push-30", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row items-push">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @Html.EditorFor(x=>x.ticketTitle, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Title" } })
                                        @Html.ValidationMessageFor(x=>x.ticketSummary, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">

                                        @Html.TextAreaFor(x=>x.ticketSummary, new { @rows = "7", @class = "form-control", @placeholder = "Summary of the problem." })
                                        @Html.ValidationMessageFor(x=>x.ticketSummary, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <select class="form-control" id="projectId" name="projectId" size="1" style="width:100%">
                                            @foreach (var project in Model.Projects)
                                            {
                                                <option value="@project.Id">@project.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6 text-center">
                                        <input name="fileAttachment" type="file" class="form-control" id="fileAttachment" />
                                    </div>
                                    <div class="col-xs-6 text-center">
                                        <button class="btn btn-lg btn-success" type="submit">
                                            Submit Ticket
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    }
                </div>
            </div>
        </div>
        </div>
</main>

















