@model IEnumerable<Squash.Models.Project>

@{
    ViewBag.Title = "My Assigned Projects";
}
<main id="main-container">

    <div class="bg-image" style="background-image: url('/Images/photos/photo28@2x.jpg');">
        <div class="content content-full bg-city-dark-op">
            <div class="row">
                <div class="col-xs-6">
                    <h1 class="page-heading text-white animated zoomIn">
                        My Assigned Projects
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-content">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
            <table class="table table-bordered table-striped" id="assignedProjectsList">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="hidden-xs">Description</th>
                        <th class="hidden-xs">Created Date</th>
                        <th class="text-center" style="width: 10%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model)
                    {

                        <tr>
                            <td class="font-w600">@project.Name</td>
                            <td class="hidden-xs">@project.Description</td>
                            <td class="hidden-xs">@project.CreatedDate</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-default" data-toggle="modal" data-target="#viewTicketsModal-@project.Id" )>View Tickets<i class="si si-magnifier  push-5-l"></i></a>

                                    <div class="modal fade" id="viewTicketsModal-@project.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-top">
                                            <div class="modal-content">
                                                <div class="block">
                                                    <div class="block-content">
                                                        <table class="table hoverTable hoverTable table-striped ticketViewTable" id="viewTicketsTable-@project.Id">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:15%">Title</th>
                                                                    <th style="width:25%">Summary</th>
                                                                    <th class="hidden-xs" style="width: 10%;">Created Date</th>
                                                                    <th class="hidden-xs" style="width: 10%;">Updated Date</th>
                                                                    <th class="hidden-xs" style="width: 10%;">Priority</th>
                                                                    <th class="hidden-xs" style="width: 10%;">Status</th>
                                                                    <th class="hidden-xs" style="width: 10%;">Type</th>
                                                                    <th class="hidden-xs" style="width: 15%;">Assigned User</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var ticket in project.Tickets)
                                                                {

                                                                    <tr style="cursor:pointer" onclick="window.location.href = '@Url.Action("Details","Tickets", new { id=ticket.Id })';">
                                                                        <td class="font-w600">@ticket.Title</td>
                                                                        <td>@ticket.Summary</td>
                                                                        <td class="hidden-xs">@ticket.CreatedDate</td>
                                                                        <td class="hidden-xs">@ticket.UpdatedDate</td>
                                                                        <td class="hidden-xs">
                                                                            @switch (ticket.Priority.Name)
                                                                            {
                                                                                case "High":
                                                                                    <span class="label label-danger">High</span>
                                                                                    break;
                                                                                case "Medium":
                                                                                    <span class="label label-warning">Medium</span>
                                                                                    break;
                                                                                case "Low":
                                                                                    <span class="label label-info">Low</span>
                                                                                    break;
                                                                            }
                                                                        </td>
                                                                        <td class="hidden-xs">

                                                                            @switch (ticket.Status.Name)
                                                                            {
                                                                                case "Created":
                                                                                    <span class="label label-danger">Created</span>
                                                                                    break;
                                                                                case "Assigned":
                                                                                    <span class="label label-warning">Assigned</span>
                                                                                    break;
                                                                                case "Resolved":
                                                                                    <span class="label label-success">Resolved</span>
                                                                                    break;
                                                                                case "Reopened":
                                                                                    <span class="label label-danger">Reopened</span>
                                                                                    break;
                                                                                case "Archived":
                                                                                    <span class="label label-info">Archived</span>
                                                                                    break;
                                                                            }
                                                                        </td>
                                                                        <td class="hidden-xs"><span class="label label-info">@ticket.Type.Name</span></td>

                                                                        @if (ticket.AssignedUser == null)
                                                                        {
                                                                            <td>Unassigned</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>@ticket.AssignedUser.FirstName @ticket.AssignedUser.LastName</td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close push-5-r"></i>Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>


                    }
                </tbody>
            </table>
        </div>
    </div>
</main>



@section scripts{
    <script>
        $(document).ready(function () {
            $('#assignedProjectsList').DataTable();
            @foreach(var project in Model)
            {
                @:$('#viewTicketsTable-@project.Id').DataTable();
            }
        });
    </script>
}